.addItem-btn {
  background-color: brown;
  font-weight: bold;
  border-radius: 100px;
  width: 125px;
  height: 35px;
  border: none;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.addItem-btn:hover {
  color: brown;
  background-color: white;
  border: 1px solid brown;
}

.addItem {
  display: inline-block;
  position: relative;
  top: -20px;
}

.addItem-input {
  width: 30px;
}

.addItem-label {
  margin-right: 10px;
}
