body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.background-image {
  background-image: url("../public/meals.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.button {
  background-color: brown;
  color: white;
  border: none;
  border-radius: 100px;
  width: 100px;
  height: 50px;
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #c4a484;
}

.button-inverted {
  background-color: white;
  color: brown;
  border: 1px solid brown;
  border-radius: 100px;
  width: 100px;
  height: 50px;
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
}

.button-inverted:hover {
  background-color: lightgray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
