.button {
  background-color: #cf9fff;
  color: white;
  font-size: 16px;
  padding: 5px 12px;
  border: 1px solid black;
  cursor: pointer;
}

.button:hover {
  background-color: #e0b0ff;
}
